@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Raleway&display=swap');

$spacer: .65cm;
$spacer-small: $spacer/3;
$page-margin: 1.5cm;
$page-width: 21cm - 2*$page-margin;
$color-body: #333;
$color-impact: #000;

$color-title: #03989e;
$color-footer: transparentize($color-title, .5);
$color-accent: $color-footer;
$color-highlight: transparentize($color-accent, .3);

$border-accent: 1px solid $color-highlight;

$content-size: 0.9em;

@mixin print-version {
  @media print {
    @content
  }
}



@include print-version {
  @page {
    margin: $page-margin;
    size: A4;
  }
}

body {
  font-family: 'Lora', serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background: #eee;
  color: $color-body;
  font-size: 9.2pt;

  @include print-version {
    background: transparent;
    padding: 0;
    margin: 0;
  }
}


.page {
  max-width: $page-width;
  background: #fff;
  margin: $spacer auto;
  padding: $page-margin;
  box-shadow: .2em .5em 1em rgba(0,0,0,0.1);

  @include print-version {
    max-width: none;
    background: transparent;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }

}

a {
  color: $color-body;
  text-decoration: underline;
  text-decoration-color: $color-highlight;
}

b {
  font-weight: normal;
  color: $color-impact;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

h1, h2, h3 {
  text-transform: uppercase;
  page-break-after: avoid;
}

h2 {
  color: $color-title;
  margin: $spacer*1.5 0 $spacer*.5 0;
}

h3 {
  font-size: 1.3em;
  margin: 0;
}

header {

  text-align: center;

  h1 {
    margin: 0;
    font-size: 4em;
    $limit: 60%;
    background-image: linear-gradient(
                    to top, $color-highlight 0, $color-highlight $limit,
                    transparent $limit, transparent 100%);
    background-repeat: repeat-x;

    display: inline-block;
    padding: 0 $spacer;
  }

  .position {
    color: $color-title;
    text-transform: uppercase;
  }

  ul, li {
    margin: 0;
    padding: 0;
    display: block;
  }

  ul {
    margin: $spacer*1.5 0;
    font-size: 1em;

    &:before {
      //content: "Highlights";
      text-transform: uppercase;
      font-size: 1.3em;
      color: $color-accent;
    }

    &.coordinates {

      margin: $spacer;
      font-size: .8em;

      a {
        color: $color-footer;
        margin-left: 1em;
        text-decoration: none;
      }
    }

    li {
      margin: .1em 0;
    }
  }


}

.experience, .skill {
  display: grid;
  grid-template-columns: 5.3em 1fr;
  grid-gap: $spacer;
  page-break-inside:avoid;
}

.experience {

  margin: $spacer 0;

  &.publication {
    margin: $spacer-small 0;
  }

  &:first-of-type {
    margin-top: $spacer-small;
  }

  .details {
    display: grid;
    grid-gap: .3em;
  }

  h3 {

    small {
      font-size: .7em;
      text-transform: none;
      opacity: .7;

      &:before {
        content: "• ";
      }
    }
  }

  .date {
    text-align: right;
  }

  .about {
    .company {

      font-weight: 700;

      &:after {
        content: ",";
      }
    }
  }

  ul, p {
    font-size: $content-size;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin-top: .6em;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  p {
    margin: 0;
  }

}

.double-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $spacer;

  .experience {
    margin: 0;
    margin-top: $spacer-small ;
  }

  .details ul {
    margin-bottom: $spacer-small;
    &:last-child {
      margin-bottom: 0;
    }
  }

}

.skill, header .coordinates {

  ul, li, .details ul {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

}

.skill {

  margin: .5em 0;

  li {
    &:after {
      content: ","
    }

    &:last-child:after {
      content: "";
    }
  }

  .label {
    font-weight: bold;
    text-align: right;
  }

  .details {
    font-size: $content-size;
  }

}
