@import url('https://fonts.googleapis.com/css2?family=Lora&family=Raleway&display=swap');

$spacer: 2em;

body {
  font-family: 'Lora', serif;
  padding: 0;
  margin: 0;
  background: #eee;
  color: #333;
  font-size: 14px;
}

.position, b {
  font-weight: normal;
  color: #000;
}

.page {
  max-width: 800px;
  background: #fff;
  margin: $spacer auto;
  padding: $spacer;

}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  text-transform: uppercase;

}

header {

  text-align: center;

  .position {
    font-size: 1.2em;
  }

  ul, li {
    margin: 0;
    padding: 0;
    display: block;
  }

}

.experience, .skill {
  display: grid;
  grid-template-columns: 8em auto;
  grid-gap: $spacer;
}

.experience {

  margin: $spacer 0;

  .details {
    display: grid;
    grid-gap: .3em;
  }

  h3 {
    margin: 0;
    font-size: 1.4em;

    small {
      font-size: .7em;
      text-transform: none;
      opacity: .7;
    }
  }

  .about {
    .company {
      &:after {
        content: ",";
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    padding-left: 1.5em;
    li {
      list-style-type: square;
    }
  }

  p {
    margin: 0;
  }

}

.double-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $spacer;

  margin: $spacer 0;

}

.skill {

  margin: .5em 0;

  ul, li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  li {
    &:after {
      content: ","
    }

    &:last-child:after {
      content: "";
    }
  }

  .label {
    font-weight: bold;
  }

  .details {
    font-style: italic;
  }

}