@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Raleway&display=swap");
@media print {
  @page {
    margin: 1.5cm;
    size: A4;
  }
}
body {
  font-family: "Lora", serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background: #eee;
  color: #333;
  font-size: 9.2pt;
}
@media print {
  body {
    background: transparent;
    padding: 0;
    margin: 0;
  }
}

.page {
  max-width: 18cm;
  background: #fff;
  margin: 0.65cm auto;
  padding: 1.5cm;
  box-shadow: 0.2em 0.5em 1em rgba(0, 0, 0, 0.1);
}
@media print {
  .page {
    max-width: none;
    background: transparent;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }
}

a {
  color: #333;
  text-decoration: underline;
  text-decoration-color: rgba(3, 152, 158, 0.2);
}

b {
  font-weight: normal;
  color: #000;
}

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

h1, h2, h3 {
  text-transform: uppercase;
  page-break-after: avoid;
}

h2 {
  color: #03989e;
  margin: 0.975cm 0 0.325cm 0;
}

h3 {
  font-size: 1.3em;
  margin: 0;
}

header {
  text-align: center;
}
header h1 {
  margin: 0;
  font-size: 4em;
  background-image: linear-gradient(to top, rgba(3, 152, 158, 0.2) 0, rgba(3, 152, 158, 0.2) 60%, transparent 60%, transparent 100%);
  display: inline-block;
  padding: 0 0.65cm;
}
header .position {
  color: #03989e;
  text-transform: uppercase;
}
header ul, header li {
  margin: 0;
  padding: 0;
  display: block;
}
header ul {
  margin: 0.975cm 0;
  font-size: 1em;
}
header ul:before {
  text-transform: uppercase;
  font-size: 1.3em;
  color: rgba(3, 152, 158, 0.5);
}
header ul.coordinates {
  margin: 0.65cm;
  font-size: 0.8em;
}
header ul.coordinates a {
  color: rgba(3, 152, 158, 0.5);
  margin-left: 1em;
  text-decoration: none;
}
header ul li {
  margin: 0.1em 0;
}

.experience, .skill {
  display: grid;
  grid-template-columns: 5.3em 1fr;
  grid-gap: 0.65cm;
  page-break-inside: avoid;
}

.experience {
  margin: 0.65cm 0;
}
.experience.publication {
  margin: 0.2166666667cm 0;
}
.experience:first-of-type {
  margin-top: 0.2166666667cm;
}
.experience .details {
  display: grid;
  grid-gap: 0.3em;
}
.experience h3 small {
  font-size: 0.7em;
  text-transform: none;
  opacity: 0.7;
}
.experience h3 small:before {
  content: "• ";
}
.experience .date {
  text-align: right;
}
.experience .about .company {
  font-weight: 700;
}
.experience .about .company:after {
  content: ",";
}
.experience ul, .experience p {
  font-size: 0.9em;
}
.experience ul {
  margin: 0;
  padding: 0;
}
.experience ul li {
  list-style-type: none;
  margin-top: 0.6em;
}
.experience ul li:first-child {
  margin-top: 0;
}
.experience p {
  margin: 0;
}

.double-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.65cm;
}
.double-columns .experience {
  margin: 0;
  margin-top: 0.2166666667cm;
}
.double-columns .details ul {
  margin-bottom: 0.2166666667cm;
}
.double-columns .details ul:last-child {
  margin-bottom: 0;
}

.skill ul, .skill li, .skill .details ul, header .coordinates ul, header .coordinates li, header .coordinates .details ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.skill {
  margin: 0.5em 0;
}
.skill li:after {
  content: ",";
}
.skill li:last-child:after {
  content: "";
}
.skill .label {
  font-weight: bold;
  text-align: right;
}
.skill .details {
  font-size: 0.9em;
}

/*# sourceMappingURL=design.css.map */
